{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
      <h1>Derniers articles</h1>
      {% for article in articles %}
          <li>
            <a href="{{ path('articles_name', {'id': article.id}) }}">
              {{ article.title }} par {{ article.author }}
            </a>
          </li>
      {% endfor %}
    </div>
{% endblock %}
