{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
      <h1>Panel Admin</h1>

      <a class="waves-effect waves-light btn indigo darken-3" href="{{ path('articles_new') }}">Nouvel article</a>
      <a class="waves-effect waves-light btn indigo darken-3" href="{{ path('category_new') }}">Nouvelle catégorie</a>
    </div>
{% endblock %}
