{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>{{ article.title }}</h1>
        <h3>{{ article.author }}</h3>
    </div>
        {{ article.content }}
    <div>

    </div>
{% endblock %}

{% block stylesheets %}
<style>
  body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
  h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
  h1 { font-size: 36px; }
</style>
{% endblock %}
